$radius: .5em

$text: #76453A //#60453A
$text-rubysh: #AA6969

$base1:   #302
$base4:   #402
$base5:   #502
$base6:   #602
$base7:   #702
$base8:   #802
$base9:   #902
$baseA:   #B02
$baseB:   #C02
$baseC:   #D02
$baseF:   #F02

$base-gray:       #ECDAD7 //#E8DAD7 //#D0C7C7
$base-gray-light: #FCF9F8

$gray:      #999
$dark-gray: #555

@mixin menu-base
  background: $baseA
  color: #FFC5CC //white
  text-shadow: 1px 1px $base8
  text-decoration: none
  display: block
  border-bottom: 1px solid $base9
  box-shadow:  0 1px 4px 1px $baseB inset
  padding:
    top: .6em
    bottom: .35em
    left: 1em
    right: 2em

@mixin menu-neutral
  background: none
  color: $base6
  text-shadow: none

@mixin menu-highlighted
  background: $baseF
  color: $base6
  text-shadow: none
  box-shadow:  0 1px 14px 1px $baseC inset

