doctype html
html

  head

    | {% css_asset_tag global %}
      - /_assets/css/normalize.css
      - /_assets/css/github.css
      - /_assets/css/syntax.css
      - /_assets/css/menu-base.sass
      - /_assets/css/nav-menu.sass
      - /_assets/css/toc.css.sass
      - /_assets/css/arrows.sass
      - /_assets/css/doc.css.sass
      - /_assets/css/google-search.sass
      {% endcss_asset_tag %}

    | {% javascript_asset_tag global %}
      - /_assets/js/plugins/jquery-1.9.1.js
      - /_assets/js/plugins/jquery-color-2.1.2.js
      - /_assets/js/plugins/jquery-resize-1.1.js
      - /_assets/js/nav.js.coffee
      - /_assets/js/toc.js.coffee
      {% endjavascript_asset_tag %}

    title
      | {{site.name}} - {{page.title}}

    javascript:
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42574355-1', 'escalatemedia.github.io');
      ga('send', 'pageview');


  body

    #page-nav
      | {% nav_menu %}
      #google-search
        javascript:
          (function() {
            var cx = '001168365143071728136:5dk0aq3wpwg';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        <gcse:search>&nbsp;</gcse:search>
    #page-toc

    #content

      .breadcrumb
        | {% breadcrumb %}
      | {{ content }}
      br
      .breadcrumb
        | {% breadcrumb %}

    #footer
      ' Copyright &copy; 2012-2013 by
      a href='mailto://dd.nexus@gmail.com' Domizio Demichelis
      '  &mdash; Sponsored by
      a href='http://www.escalatemedia.com' Escalate Media
      '  and
      a href='http://www.barquin.com' Barquin International





