table.code-topics.api-methods cellspacing=0 cellpadding=0



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-aliases/" target="_blank" Aliases

  tr
    td
      code Elastics.post_index_aliases
    td
      markdown:
        The index aliases API allow to alias an index with a name, with all APIs automatically converting the alias name to the actual index name.

        **Template**

      |
        {% shighlight yaml %}
        post_index_aliases:
        - POST
        - /_aliases
        - actions: <<actions>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.post_index_aliases :actions => actions
        {% endshighlight %}

  tr
    td
      code Elastics.get_index_aliases
    td
      markdown:
        Returns all indices with all aliases, or just for specific indices. (pre 0.90.1).

        **Template**

      |
        {% shighlight yaml %}
        get_index_aliases:
        - GET
        - /<<index>>/_aliases
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.get_index_aliases :index => "elastics_test_index"
        {% endshighlight %}



  tr
    td
      code Elastics.add_index_alias
    td
      markdown:
        Adds an index alias.

        **Template**

      |
        {% shighlight yaml %}
        add_index_alias:
        - PUT
        - /<<index>>/_alias/<<alias>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.add_index_alias :alias => alias,  # required
                                 :index => "elastics_test_index"
        {% endshighlight %}

      markdown:
        > You can pass other options as the `:data` variable.


  tr
    td
      code Elastics.delete_index_alias
    td
      markdown:
        Deletes an index alias.

        **Template**

      |
        {% shighlight yaml %}
        delete_index_alias:
        - DELETE
        - /<<index>>/_alias/<<alias>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.delete_index_alias :alias => alias,  # required
                                    :index => "elastics_test_index"
        {% endshighlight %}


  tr
    td
      code Elastics.get_index_alias
    td
      markdown:
        Allows to filter by alias name and index name.

        **Template**

      |
        {% shighlight yaml %}
        get_index_alias:
        - GET
        - /<<index>>/_alias/<<alias= '*' >>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.get_index_alias :index => "elastics_test_index",
                                 :alias => "*"
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-analyze/" target="_blank" Analyze

  tr
    td
      code Elastics.analyze_index
    td
      markdown:
        Performs the analysis process on a text and return the tokens breakdown of the text.

        **Template**

      |
        {% shighlight yaml %}
        analyze_index:
        - GET
        - /<<index>>/_analyze
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.analyze_index :index => "elastics_test_index"
        {% endshighlight %}

      markdown:
        > You can pass the text to analyze as the `:data` variable (or the param `:text`).
        > You can pass the parameters as the `:params` variable.



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-create-index.html" target="_blank" Create Index

  tr
    td
      code Elastics.create_index
    td
      markdown:
        Allows to instantiate an index. (Uses `PUT`)

        **Template**

      |
        {% shighlight yaml %}
        create_index:
        - PUT
        - /<<index>>
        - settings:
            number_of_shards: <<number_of_shards= 5 >>
            number_of_replicas: <<number_of_replicas= 1 >>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.create_index :index              => "elastics_test_index",
                              :number_of_shards   => 5,
                              :number_of_replicas => 1
        {% endshighlight %}

  tr
    td
      code Elastics.put_index
    td
      markdown:
       Alias for `Elastics.create_index` (defined for symmetry with `Elastics.post_index`)

  tr
    td
      code Elastics.post_index
    td
      markdown:
        Allows to instantiate an index. (Uses `POST`)

        **Template**

      |
        {% shighlight yaml %}
        post_index:
        - POST
        - /<<index>>
        - settings:
            number_of_shards: <<number_of_shards= 5 >>
            number_of_replicas: <<number_of_replicas= 1 >>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.post_index :index              => "elastics_test_index",
                            :number_of_shards   => 5,
                            :number_of_replicas => 1
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/delete.html" target="_blank" Delete Index

  tr
    td
      code Elastics.delete_index
    td
      markdown:
        Allows to delete an existing index.

        **Template**

      |
        {% shighlight yaml %}
        delete_index:
        - DELETE
        - /<<index>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.delete_index :index => "elastics_test_index"
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-open-close/" target="_blank" Open/Close Index

  tr
    td
      code Elastics.close_index
    td
      markdown:
        Allows to close an index.

        **Template**

      |
        {% shighlight yaml %}
        close_index:
        - POST
        - /<<index>>/_close
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.close_index :index => "elastics_test_index"
        {% endshighlight %}


  tr
    td
      code Elastics.open_index
    td
      markdown:
        Allows to open an index.

        **Template**

      |
        {% shighlight yaml %}
        open_index:
        - POST
        - /<<index>>/_open
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.open_index :index => "elastics_test_index"
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-get-settings.html" target="_blank" Get Settings

  tr
    td
      code Elastics.get_index_settings
    td
      markdown:
        Allows to retrieve settings of index/indices.

        **Template**

      |
        {% shighlight yaml %}
        get_index_settings:
        - GET
        - /<<index>>/_settings
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.get_index_settings :index => "elastics_test_index"
        {% endshighlight %}

  tr
    td
      code Elastics.get_settings
    td
      markdown:
        Alias for `Elastics.get_index_settings`. (Backward compatible)



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-update-settings/" target="_blank" Update Settings

  tr
    td
      code Elastics.put_index_settings
    td
      markdown:
        Change specific index level settings in real time.

        **Template**

      |
        {% shighlight yaml %}
        put_index_settings:
        - put
        - /<<index>>/_settings
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.put_index_settings :index => "elastics_test_index"
        {% endshighlight %}

      markdown:
        > You can pass the settings structure as the `:data` variable.



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-get-mapping.html" target="_blank" Get Mapping

  tr
    td
      code Elastics.get_index_mapping
    td
      markdown:
        Allows to retrieve the mapping of index/indices.

        **Template**

      |
        {% shighlight yaml %}
        get_index_mapping:
        - GET
        - /<<index>>/_mapping
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.get_index_mapping :index => "elastics_test_index"
        {% endshighlight %}

  tr
    td
      code Elastics.get_mapping
    td
      markdown:
        Alias for `Elastics.get_index_mapping`. (Backward compatible)



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-put-mapping.html" target="_blank" Put Mapping

  tr
    td
      code Elastics.put_index_mapping
    td
      markdown:
        Allows to register specific mapping definition for a specific type.

        **Template**

      |
        {% shighlight yaml %}
        put_index_mapping: &put_index_mapping
        - PUT
        - /<<index>>/<<type>>/_mapping
        - <<type>>:
            properties: <<properties>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.put_index_mapping :properties => properties,  # required
                                   :type       => nil,
                                   :index      => "elastics_test_index"
        {% endshighlight %}

  tr
    td
      code Elastics.put_mapping
    td
      markdown:
        Alias for `Elastics.put_index_mapping`. (Backward compatible)



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-delete-mapping.html" target="_blank" Delete Mapping

  tr
    td
      code Elastics.delete_index_mapping
    td
      markdown:
        Allows to delete the mapping of an index/type.

        **Template**

      |
        {% shighlight yaml %}
        delete_index_mapping:
        - DELETE
        - /<<index>>/<<type>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.delete_index_mapping :index => "elastics_test_index",
                                      :type  => nil
        {% endshighlight %}

  tr
    td
      code Elastics.delete_mapping
    td
      markdown:
        Alias for `Elastics.delete_index_mapping`. (Backward compatible)



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-refresh.html" target="_blank" Refresh

  tr
    td
      code Elastics.refresh_index
    td
      markdown:
        Allows to explicitly refresh one or more index.

        **Template**

      |
        {% shighlight yaml %}
        refresh_index:
        - POST
        - /<<index>>/_refresh
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.refresh_index :index => "elastics_test_index"
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-optimize/" target="_blank" Optimize

  tr
    td
      code Elastics.optimize_index
    td
      markdown:
        Allows to optimize one or more index.

        **Template**

      |
        {% shighlight yaml %}
        refresh_index:
        - POST
        - /<<index>>/_optimize
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.optimize_index :index => "elastics_test_index"
        {% endshighlight %}

      markdown:
        > You can pass the parameters as the `:params` variable.



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-flush/" target="_blank" Flush

  tr
    td
      code Elastics.flush_index
    td
      markdown:
        Allows to flush one or more index.

        **Template**

      |
        {% shighlight yaml %}
        flush_index:
        - POST
        - /<<index>>/_flush
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.flush_index :index => "elastics_test_index"
        {% endshighlight %}

      markdown:
        > You can pass the parameters as the `:params` variable.



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-gateway-snapshot/" target="_blank" Snapshot

  tr
    td
      code Elastics.gateway_snapshot
    td
      markdown:
        Allows to explicitly perform a snapshot through the gateway of one or more indices (backup them).

        **Template**

      |
        {% shighlight yaml %}
        gateway_snapshot:
         - POST
         - /<<index>>/_gateway/snapshot
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.gateway_snapshot :index => "elastics_test_index"
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-update-settings/" target="_blank" Update

  tr
    td
      code Elastics.update_index_settings
    td
      markdown:
        Change specific index level settings in real time.

        **Template**

      |
        {% shighlight yaml %}
        update_index_settings:
        - PUT
        - /<<index>>/_settings
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.update_index_settings :index => "elastics_test_index"
        {% endshighlight %}

      markdown:
        > You can pass the settings structure as the `:data` variable



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-templates/" target="_blank" Templates

  tr
    td
      code Elastics.put_index_template
    td
      markdown:
        Creates a template that will automatically be applied to new indices created.

        **Template**

      |
        {% shighlight yaml %}
        put_index_template:
        - PUT
        - /_template/<<template>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.put_index_template :template => template  # required
        {% endshighlight %}

      markdown:
        > You can pass the data structure as the `:data` variable


  tr
    td
      code Elastics.delete_index_template
    td
      markdown:
        Deletes an existing template.

        **Template**

      |
        {% shighlight yaml %}
        delete_index_template:
        - DELETE
        - /_template/<<template>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.delete_index_template :template => template  # required
        {% endshighlight %}


  tr
    td
      code Elastics.get_index_template
    td
      markdown:
        Retrieves an existing template.

        **Template**

      |
        {% shighlight yaml %}
        get_index_template:
        - GET
        - /_template/<<template>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.get_index_template :template => template  # required
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-warmers/" target="_blank" Warmers

  tr
    td
      code Elastics.put_index_warmer
    td
      markdown:
        Creates a warmer to warm up the index before it is available for search.

        **Template**

      |
        {% shighlight yaml %}
        put_index_warmer:
        - PUT
        - /<<index>>/<<type>>/_warmer/<<warmer>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.put_warmer :warmer => warmer,  # required
                            :type   => nil,
                            :index  => "elastics_test_index"
        {% endshighlight %}

      markdown:
        > You can pass the data structure as the `:data` variable


  tr
    td
      code Elastics.delete_index_warmer
    td
      markdown:
        Deletes an existing warmer.

        **Template**

      |
        {% shighlight yaml %}
        delete_index_warmer:
        - DELETE
        - /<<index>>/_warmer/<<warmer= ~ >>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.delete_warmer :index  => "elastics_test_index",
                               :warmer => nil
        {% endshighlight %}


  tr
    td
      code Elastics.get_index_warmer
    td
      markdown:
        Retrieves an existing warmer.

        **Template**

      |
        {% shighlight yaml %}
        get_index_warmer:
        - GET
        - /<<index>>/_warmer/<<warmer= ~ >>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.get_warmer :index  => "elastics_test_index",
                            :warmer => nil
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-stats.html" target="_blank" Stats

  tr
    td
      code Elastics.index_stats
    td
      markdown:
        Provides statistics on different operations happening on an index.

        **Template**

      |
        {% shighlight yaml %}
        index_stats:
        - GET
        - /<<index>>/_stats/<<endpoint= ~ >>/<<type= ~ >>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.index_stats :index    => "elastics_test_index",
                             :endpoint => nil,
                             :type     => nil
        {% endshighlight %}

  tr
    td
      code Elastics.stats
    td
      markdown:
        Alias for `Elastics.index_stats`. (Backward compatible)



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-status/" target="_blank" Status

  tr
    td
      code Elastics.index_status
    td
      markdown:
        Provides a comprehensive status information of one or more indices.

        **Template**

      |
        {% shighlight yaml %}
        index_status:
        - GET
        - /<<index>>/_status
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.index_status :index => "elastics_test_index"
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-segments/" target="_blank" Segments

  tr
    td
      code Elastics.index_segments
    td
      markdown:
        Provides low level segments information that a Lucene index (shard level) is built with.

        **Template**

      |
        {% shighlight yaml %}
        index_segments:
        - GET
        - /<<index>>/_segments
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.index_segments :index => "elastics_test_index"
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-clearcache/" target="_blank" Clear Cache

  tr
    td
      code Elastics.index_clearcache
    td
      markdown:
        Clears either all caches or specific cached associated with one ore more indices.

        **Template**

      |
        {% shighlight yaml %}
        index_clearcache:
        - POST
        - /<<index>>/_cache/clear
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.index_clearcache :index => "elastics_test_index"
        {% endshighlight %}



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-indices-exists.html" target="_blank" Indices Exists

  tr
    td
      code Elastics.indices_exists
    td
      markdown:
        Checks if the index/indices exists.

        **Template**

      |
        {% shighlight yaml %}
        indices_exists:
        - HEAD
        - /<<index>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.indices_exists :index => "elastics_test_index"
        {% endshighlight %}

      markdown:
        > __Notice__: the result is a boolean

  tr
    td
      code Elastics.exist?
    td
      markdown:
        Alias for `Elastics.indices_exists`. (Elastics-backward compatible)



  ///////////////////////////////////////////////////////////////////////////
  tr
    th colspan=2
      a href="http://www.elasticsearch.org/guide/reference/api/admin-indices-types-exists.html" target="_blank" Types Exists

  tr
    td
      code Elastics.types_exists
    td
      markdown:
        Checks if the type/types exists in an index/indices.

        **Template**

      |
        {% shighlight yaml %}
        types_exists:
        - HEAD
        - /<<index>>/<<type>>
        {% endshighlight %}

      markdown:
        **Usage**

      |
        {% shighlight ruby %}
        Elastics.types_exists :index => "elastics_test_index",
                              :type  => nil
        {% endshighlight %}

      markdown:
        > __Notice__: the result is a boolean

  tr
    td
      code Elastics.exist?
    td
      markdown:
        Alias for `Elastics.indices_exists`. (Backward compatible)



